<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <meta name="description=" content="Learn to Anything is a one-stop-shop for resources to learn more about any real-world topic. Simply enter a topic and begin learning today!">
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
      <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>
      <script type="text/javascript">
          $(function() {
              $("#myinput").suggest({filter:'(all type:/common/topic)', key:GoogleApiKey, suggest_new:$("#myinput").value});
          });
      </script>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-56524215-1', 'auto');
          ga('send', 'pageview');

      </script>
  </head>
  <body>
    <h1><%= title %></h1><h3><i>"A wise man can learn more from a foolish question than a fool can learn from a wise answer." -Bruce Lee</i></h3>
    <div id="searchmodule">
        <p>Welcome to <%= title %>, the one-stop-shop for learning to do something new!<br/>
            Simply enter any real-world topic into the box below and click 'Learn!' to begin crawling the Internet for tutorials</p>
        <form method="get" action="/search/" >
            "Today I want to learn more about <input id="myinput" size="45" name="query" type="text" value="life skills"/>
            <br/>    The Internet can help you with that, come and <input type="submit" value="Learn!"/> </p>
        </form>

        <div id="feedbackbox">
            <br/>
            <h5>Having trouble? Find a bug? Report it by submitting feedback to
                <a href="mailto:feedback@angryaggregators.org?subject=FEEDBACK%20Regarding%20LearnToAnything" target="_top">
                    feedback@angryaggregators.org</a>
            </h5>
        </div>
    </div>


  </body>
</html>
