body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFF8CA;

}

a {
  color: #00B7FF;
}

ul {
    list-style-type: none;
}
.floating {
    background-color: #FFF8CA;
    position: fixed;
    top: 0;
    width: 100%;
}
#bodycontent {
    margin-top: 13%;
}
#feedbackbox {
    float:left;
}
#searchmodule {
    float: left;
    width: 35%;
}
#freedescription {
    overflow: hidden;
    width: 50%;
}
#stickyribbon {
    background-color: #FFF8CA;
    width: 100%;
    position: fixed;
    top: 0;
    /*height: 21%;*/
    -moz-box-shadow:    0 12px 5px -6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 12px 5px -6px rgba(0, 0, 0, 0.5);
    box-shadow:         0 12px 5px -6px rgba(0, 0, 0, 0.5);
}

#stickyribbon ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 10px 40px 15px;

}

#stickyribbon ul li {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    margin: 0 20px;
}

#stickyribbon ul li a {
    /*color: #fff;*/
    text-decoration: none;
}

#stickyribbon ul li a:hover {
    color: #c9e0f7;
}